<!--How to Install-->
<div id="installationSection">

    <h2>HOW TO INSTALL.</h2>

    <div class="installContent">

        <div class="firstInstallHeader">
            <p>Export VS Theme:</p>
        </div>
        <p>
            <span class="numbers">1</span>. In Visual Studio, go to <span class="path">TOOLS > Import and Export Settings...</span><br />
            <span class="numbers">2</span>. In the wizard, choose <span class="path">Export selected environment settings</span>.<br />
            <span class="numbers">3</span>. Under <span class="path">All Seetings > Options > #101</span>, choose <span class="path">Fonts and Colors</span>.<br />
            <span class="numbers">4</span>. Choose the theme name and directory, and <span class="path">Finish</span>.<br />
        </p>

        <div class="installHeader">
            <p>Export Eclipse Theme:</p>
        </div>
        <p>
            <span class="numbers">1</span>. In Eclipse, go to <span class="path">File > Export...</span><br />
            <span class="numbers">2</span>. In the wizard, choose <span class="path">General > Preferences</span>.<br />
            <span class="numbers">3</span>. Tick <span class="path">Export all</span>.<br />
            <span class="numbers">4</span>. <span class="path">Finish</span>.<br />
        </p>

        <div class="installHeader">
            <p>Import VS Theme:</p>
        </div>
        <p>
            <span class="numbers">1</span>. In Visual Studio, go to <span class="path">TOOLS > Import and Export Settings...</span><br />
            <span class="numbers">2</span>. In the wizard, choose <span class="path">Import selected environment settings</span>.<br />
            <span class="numbers">3</span>. <span class="path">Browse...</span> your theme, then <span class="path">Next</span>.<br />
            <span class="numbers">4</span>. Select <span class="path">All Settings</span>, then <span class="path">Finish</span>.<br />
        </p>

        <div class="installHeader">
            <p>Import Eclipse Theme:</p>
        </div>
        <p>
            <span class="numbers">1</span>. In Eclipse, go to <span class="path">Window > Preferences</span>.<br />
            <span class="numbers">2</span>. In the Preferences window, go to <span class="path">DevStyle > Color Themes</span>.<br />
            <span class="numbers">3</span>. Under the Extras section, choose <span class="path">Import...</span><br />
            <span class="numbers">4</span>. Choose your .xml theme and then <span class="path">Apply changes</span>.<br />
        </p>

        <div class="installHeader">
            <p>Tweak specific item colors in Eclipse:</p>
        </div>
        <p>
            For Background, go to <span class="path">Windows > Preferences > General > Editors > Text Editors</span>.<br />
            For Foreground, go to <span class="path">Windows > Preferences > Java > Editor > Syntax Colouring</span>.<br />
        </p>
        <div class="installHeader">
            <p>Tweak specific item colors in VS:</p>
        </div>
        <div class="installBottomText">
            <p>
                Go to <span class="path">TOOLS > Options > Environmnet > Fonts and Colors</span>.<br />
            </p>
        </div>
    </div>

</div>
