/*GLOBAL SETTINGS*/

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-variant-numeric: lining-nums;
    font-size: 1rem;
    color: #011627;
    background: #011627;
    border-top-width: 0.8vw;
    border-bottom-width: 0vw;
    border-left-width: 0.4vw;
    border-right-width: 0.4vw;
    border-color: #011627;
    border-style: solid;
}
button, input.chooseFileButton{
    border-color: #011627;
    border-radius: 7px;
    background-color: #FDFFFC;
    color: #011627;
    font-weight: 500;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
}
select {
    border-color: #011627;
    border-radius: 7px;
    background-color: #FDFFFC;
    color: #011627;
    font-weight: 500;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 1px;
    width: 200px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='011627' height='24' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 5px;
    padding-left:10px;
}
select option {
    background: #FDFFFC;
    color: #011627;
}
select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}
select:focus {
     outline: none !important;
     box-shadow: none !important;
}
.disabled {
    color: #34495A;
    background: #F0F2EF;
    border-color: #34495A;
}
.row {
    background: #FDFFFC;
    margin:0em;
}
.mainc {
    border-width: 0.4em;
    border-style: solid;
    border-color: #FDFFFC;
    border-top-left-radius: 0.4em;
    border-top-right-radius: 0.4em;
    border-bottom-left-radius: 0em;
    border-bottom-left-radius: 0em;
}

/*DEFAULT SELECTORS*/
h2 {
    color: #E71D36;
    margin-top:4vh;
    margin-bottom: 1vh;
    font-weight:800;
    font-size:3.5em;
}
a {
    padding: 0em;
    margin: 0em;
    color: #011627;
}

/*CLASSES*/

/*#region global*/
.numbers {
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}
.path {
    color: #2EC4B6;
}
/*#endregion global*/

/*#region layout*/
.footer {
    background: #011627;
    color: #FDFFFC;
}
p.footer {
    background: #011627;
    color: #FDFFFC;
}
.navbar {
    display: block;
}
.navitems a.active {
    color: #FDFFFC;
    text-decoration: none;
    background: #011627;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
    border-style: solid;
    border-top-width: 0.1em;
    border-left-width: 0.1em;
    border-right-width: 0.1em;
    border-bottom-width: 0em;
    border-color: #011627;
}
.navitem {
    overflow: hidden;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-top: 6vh;
    display: inline-block;
    margin-bottom: -0.40em;
    font-weight: 700;
    padding-left: 0.48em;
    padding-right: 0.48em;
    padding-top: 0.2em;
    border-style: solid;
    border-top-width: 0.1em;
    border-left-width: 0.1em;
    border-right-width: 0.1em;
    border-bottom-width: 0em;
    border-color: #FDFFFC;
}
hr.navhr {
    border-top: 0.1em solid #011627;
    margin-top: 0em;
    margin-bottom: 0em;
    margin-left: 0em;
    margin-right: 0em;
}
.lastnavitem {
    overflow: hidden;
    margin-left: 1vw;
    margin-right: 2vw;
    margin-top: 6vh;
    display: inline-block;
    margin-bottom: -0.40em;
    font-weight: 700;
    padding-left: 0.48em;
    padding-right: 0.48em;
    padding-top: 0.2em;
    border-style: solid;
    border-top-width: 0.1em;
    border-left-width: 0.1em;
    border-right-width: 0.1em;
    border-bottom-width: 0em;
    border-color: #FDFFFC;
}
.container-fluid {
    padding: 0em;
}
div.vertical-line {
    display: inline;
    border-left: 0.1em solid #011627;
    height: 10%;
    position: absolute;
    bottom: 0px;
}
.row.footer img {
    width: auto;
    max-height: 10vw;
}
.row.footer {
    margin-top: 1em;
    margin-left: 0em;
    margin-right: 0em;
    white-space: nowrap;
    overflow: hidden;
}
.contact {
    font-weight: 200;
    font-size: 0.9em;
    float: right;
    text-align: left;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 0.5vh;
}
.contact span {
    font-weight: 400;
}
.social {
    font-weight: 200;
    font-size: 0.9em;
    text-align: left;
    margin-left: 2vw;
    margin-top: 0.5vh;
}
.social span {
    font-weight: 400;
}
.social a {
    text-decoration: underline;
    color: #FDFFFC;
}
.social a:hover {
    margin: 0em;
    padding: 0em;
    color: #FDFFFC;
    text-decoration: underline;
    border: none;
}
.cp {
    background: #011627;
    color: #FDFFFC;
}
.copyright {
    font-size: 0.9em;
    margin-top: 3vh;
    margin-bottom: 2vh;
    margin-left: 40vw;
    margin-right: auto;
}
@media only screen and (max-width: 768px) {
    .contact {
        float: left;
    }

    .copyright {
        margin-left: 2vw;
    }
}
/*#endregion layout*/

/*#region home*/
.homeTitle {
    margin-bottom: 5vh;
}
.box {
    display: flex;
    flex-wrap: wrap;
    width: 62vw;
    /*background: lightgreen;*/
    height: 53vh;
}
.item-1 {
    flex: 0 0 315px;
    height: 300px;
    margin-left: 10px;
    /* background: yellow;
    border: 1px solid gray;*/
}
.item-2 {
    flex: 0 0 315px;
    height: 300px;
    /*background: yellow;
    border: 1px solid gray;*/
}
.item-3 {
    flex: 0 0 250px;
    height: 300px;
    /*background-color: yellow;
    border: 1px solid gray;*/
}
.defaultItem{
    height:130px;
}
.warning {
    margin-left:3px;
    color: #FF9F1C;
}
.error {
    color: #E71D36;
    margin-left:3px;
}
#optionalParameters input{
    margin-left:30px;
    margin-right:5px;
}
#optionalParameters {
    margin-bottom: 10px;
}
#fileName{
    margin-left:5px;
}
@media ( max-width: 990px) {
    .box {
        width: 90vw;
    }
}
@media ( max-width: 1570px) {
    .item-1 {
        flex-basis: 290px;
    }
    .item-2 {
        flex-basis: 290px;
    }
    .item-3 {
        flex-basis: 230px;
    }
}
@media ( max-width: 1450px) {
    .item-1 {
        flex-basis: 240px;
        margin-left: 0px;
    }
    .item-2 {
        flex-basis: 240px;
    }
    .item-3 {
        flex-basis: 230px;
    }
}
@media (max-width: 1199px) {
    .item-1 {
        flex-basis: 315px;
        margin-left: 10px;
    }
    .item-2 {
        flex-basis: 315px;
    }
    .item-3 {
        flex-basis: 0 0 250px;
    }
    .box {
        width: 94vw;
    }
}
@media ( max-width: 925px) {
    .item-1 {
        flex-basis: 290px;
        margin-left: 0px;
    }
    .item-2 {
        flex-basis: 290px;
    }
    .item-3 {
        flex-basis: 230px;
    }
}
@media ( max-width: 862px) {
    .item-1 {
        flex-basis: 240px;
        margin-left: 0px;
    }
    .item-2 {
        flex-basis: 240px;
    }
    .item-3 {
        flex-basis: 230px;
    }
}
@media ( max-width: 755px) {
    h2 {
        font-size: 2.5em;
    }
    .box {
        width: 400px;
        height: auto;
        margin-bottom:40px;
    }
    .defaultItem {
        height: auto;
        margin-left:10px;
    }
    .item-1 {
        flex-basis: 370px;
        margin-left: 0px;
        height: auto;
    }
    .item-2 {
        flex-basis: 370px;
        height: auto;
    }
    .item-3 {
        flex-basis: 370px;
        height: auto;
    }
}
/*#endregion home*/

/*#region chart*/
.chartContainerForeground, .chartContainerBackground {
    position: relative;
    margin: auto;
    height: auto;
    min-height:45vh;
    width: auto;
}
.firstStats {
    margin-top: 4vh;
    margin-bottom: 5vh;
    margin-left:5px;
}
.firstStats p{
    margin-bottom: 1px;
}
.graphHeader{
    font-weight:500;
    text-align:center;
    margin-bottom:-15px;
}
.graphHeader p {
    font-size: 1.35em;
}
.chartContainerForeground{
    margin-bottom: 6vh;
}
.chartContainerBackground {
    margin-bottom: 4vh;
}
.chartBottomText {
    margin-left:5px;
    margin-bottom:10vh;
}
.chartBottomText a {
    text-decoration: underline;
    color: #011627;
}
.chartBottomText a:hover {
    margin: 0em;
    padding: 0em;
    color: #011627;
    text-decoration: underline;
    border: none;
}
@media ( max-width: 755px) {
    .graphHeader p{
        font-size: 1.1em;
    }
}
/*#endregion chart*/

/*#region install*/
.firstInstallHeader {
    font-weight: 500;
    text-align: left;
    margin-bottom: -15px;
    margin-top: 3vh;
}
.installHeader {
    font-weight: 500;
    text-align: left;
    margin-bottom: -15px;
    margin-top:2vh;
}
.installHeader p, .firstInstallHeader p{
    font-size: 1.35em;
}
.installContent{
    margin-left:5px;
}
.installBottomText {
    margin-bottom: 10vh;
}


/*#endregion install*/


/*PSEUDO SELECTORS*/
a:hover {
    color: #011627;
    text-decoration: none;
    border-style: solid;
    border-top-width: 0.1em;
    border-left-width: 0.1em;
    border-right-width: 0.1em;
    border-bottom-width: 0em;
    border-color: #011627;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    border-bottom-left-radius: 0em;
    border-bottom-right-radius: 0em;
}

button:active, input.chooseFileButton:active {
    background: #F0F2EF;
}

button:focus, input.chooseFileButton:focus {
    outline: none;
}

/*IDS*/

#artificialControl {
    color: red;
}


