@model HomeModel

<h2 class="pageTitle">THE CONVERTER.</h2>

<div class="convertForm">
    <form asp-controller="Home" asp-action="" method="post" enctype="multipart/form-data">

        <div class="box">

            <div class="item-1">
                <div class="defaultItem">
                    <label><span class="numbers">1</span>. Convert from:</label><br />
                    <select id="IDEFrom" asp-for="IdeFrom">
                        <option selected disabled>Select IDE</option>
                        <option>Eclipse</option>
                        <option>Visual Studio</option>
                    </select>
                </div>
                <br />
                <div id="optionalParameters" class="defaultItem">
                    <label><span class="numbers">1</span>.<span class="numbers">5</span>. Prioritize theme from:</label><br />
                    <input type="radio" name="para" id="CCsharp" value="CCsharp" asp-for="CCsharp" />
                    <label for="CCsharp">C/C#</label>
                    <br />
                    <input type="radio" name="para" id="Cpp" value="Cpp" asp-for="Cpp" />
                    <label for="Cpp">C++</label>
                    <br />
                    <input type="radio" name="para" id="CssScss" value="CssScss" asp-for="CssScss" />
                    <label for="CssScss">CSS/SCSS</label>
                    <br />
                    <input type="radio" name="para" id="Html" value="Html" asp-for="Html" />
                    <label for="Html">html</label>
                    <br />
                    <input type="radio" name="para" id="Xml" value="Xml" asp-for="Xml" />
                    <label for="Xml">xml</label>
                    <br />
                    <input type="radio" name="para" id="Xaml" value="Xaml" asp-for="Xaml" />
                    <label for="Xaml">xaml</label>
                    <br />
                </div>
            </div>

            <div class="item-2">
                <div class="defaultItem">
                    <label><span class="numbers">2</span>. Choose your theme:</label><br />
                    <input id="chooseFile" type="file" name="file" formenctype="multipart/form-data" accept="" style="display: none;" />
                    <input class="chooseFileButton" type="button" value="Choose File" onclick="document.getElementById('chooseFile').click();" />
                    <br/>
                    <span id="fileName"></span>
                </div>
                <div class="defaultItem">
                    <label><span class="numbers">3</span>. Convert to:</label><br />
                    <select id="IDETo" asp-for="IdeTo">
                        <option selected disabled>Select IDE</option>
                        <option>Eclipse</option>
                        <option>Visual Studio</option>
                    </select>
                    <p class="warning"></p>
                </div>
            </div>

            <div class="item-3">
                <div class="defaultItem">
                    <label><span class="numbers">4</span>. Convert:</label><br />
                    <button id="Convert" type="submit" formaction="/Home/Convert" usesubmitbehaviour="false" onclick="Download.disabled='true'">Convert </button>
                    <p class="error"></p>
                </div>
                <div class="defaultItem">
                    <label><span class="numbers">5</span>. Download:</label><br />
                    <button id="Download" name="Download" onclick="location.href='@Url.Action("Download", "Home")'">Download </button>
                </div>
            </div>
        </div>

    </form>
</div>

<script>

    //show the file name uploaded upon 'choose file' button event change.
    let fileName = document.getElementById("chooseFile");
    let fileNameField = document.getElementById("fileName");

    fileName.addEventListener("change", function () {
        let uploadedFileName = event.target.files[0].name;
        fileNameField.textContent = uploadedFileName;
    });

        //setup on page load
        $(document).ready(function () {

            $("div#optionalParameters").hide();

            @if(ViewData["DownloadCounter"].ToString() == "1") {

                <text>$("button#Download").prop("disabled", false);</text>

                //it's a correct file and show a success message
                <text>$("p.error").text("Successfully converted. =)");</text>
                <text>$("p.error").css("color", "rgb(46,196,182)");</text>
            }
            @if (ViewData["DownloadCounter"].ToString() != "1") {

                <text>$("button#Download").prop("disabled", true).addClass("disabled");</text>
                <text>$("p.error").css("color", "rgb(231,29,54)");</text>
            }

            //$("button#Download").prop("disabled", true);

            $("p#artificialControl").text($("#chooseFile").val());

        });

        //choose a correct extension based on IDEFrom
        $(document).ready(function () {

            $("select#IDEFrom").change(function () {

                if ($("select#IDEFrom").find(":selected").text() === "Eclipse")

                    $("input#chooseFile").attr("accept", ".xml");

                else if ($("select#IDEFrom").find(":selected").text() === "Visual Studio")

                    $("input#chooseFile").attr("accept", ".vssettings");

                else $("input#chooseFile").attr("accept", "");

            });
        });

        //show/hide optional parameters(3.5) on selector change IDEFrom==Visual Studio
        $(document).ready(function () {

            $("select#IDEFrom").change(function () {

                if ($("select#IDEFrom").find(":selected").text() === "Select IDE")

                    $("div#optionalParameters").hide();

                else if ($("select#IDEFrom").find(":selected").text() === "Eclipse")

                    $("div#optionalParameters").hide();

                else if ($("select#IDEFrom").find(":selected").text() === "Visual Studio")

                    $("div#optionalParameters").show();

            });

        });

        //if the user is converting to the same IDE, show a warning
        $(document).ready(function () {

            $("select#IDEFrom").change(function () {

                if ($("select#IDEFrom").find(":selected").text() === $("select#IDETo").find(":selected").text())

                    $("p.warning").text("Conversion to the same IDE.");

                else $("p.warning").text("");

                if ($("p.error").text() === "Select an IDE to convert from.") {
                    $("p.error").text("");
                }

            });

            $("select#IDETo").change(function () {

                if ($("select#IDETo").find(":selected").text() === $("select#IDEFrom").find(":selected").text())

                    $("p.warning").text("Conversion to the same IDE.");

                else $("p.warning").text("");

                if ($("p.error").text() === "Select an IDE to convert to.") {
                    $("p.error").text("");
                }

            });

        });



        //if a user hasn't selected a file or it is the wrong file, show error and don't POST
        $(document).ready(function () {

            $("form").submit(function () {

                var fileExtension = $("input#chooseFile").val().split(".").pop();

                if (fileExtension === null || fileExtension === "") {

                    $("p.error").text("Choose a theme to convert.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === "Eclipse" && !(fileExtension === "xml")) {

                    $("p.error").text("Choose an .xml file.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === "Visual Studio" && !(fileExtension === "vssettings")) {

                    $("p.error").text("Choose a .vssettings file.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === $("select#IDETo").find(":selected").text()) {

                    return false;
                }

                return true;

            });
        });


        //extra control for the convert button. takes control after download.
        $(document).ready(function () {

            $("#Convert").on("click", function () {

                $("p.error").show();
                $("p.error").css("color", "rgb(231, 29, 54)");

                var fileExtension = $("input#chooseFile").val().split(".").pop();

                if (fileExtension === null || fileExtension === "") {

                    $("p.error").text("Choose a theme to convert.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === "Eclipse" && !(fileExtension === "xml")) {

                    $("p.error").text("Choose an .xml file.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === "Visual Studio" && !(fileExtension === "vssettings")) {

                    $("p.error").text("Choose a .vssettings file.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === $("select#IDETo").find(":selected").text()) {

                    return false;
                }

                return true;

            });
        });


        //if a user hasn't selected either IDEFrom or IDETo, show error and don't POST
        $(document).ready(function () {

            $("form").submit(function () {

                if ($("select#IDETo").find(":selected").text() === "Select IDE" && $("select#IDEFrom").find(":selected").text() === "Select IDE") {
                    $("p.error").text("Select an IDE to convert from.")
                    return false;
                }

                if ($("select#IDETo").find(":selected").text() === "Select IDE") {
                    $("p.error").text("Select an IDE to convert to.")
                    return false;
                }

                if ($("select#IDEFrom").find(":selected").text() === "Select IDE") {
                    $("p.error").text("Select an IDE to convert from.")
                    return false;
                }

                return true;

            });
        });

        //reset 'choose file error' on choosing a new file
        $(document).ready(function () {

            $("input#chooseFile").on("click", function () {

                if ($("p.error").text().includes("Choose a")) {

                    $("p.error").text("");
                }

            });
        });

    //reset 'successful' on choosing a new file
    $(document).ready(function () {

        $("button#Download").on("click", function () {

            $("p.error").hide();
            $("p.error").css("color", "E71D36");

            $("button#Download").prop("disabled", true).addClass("disabled");
            //location.reload();

        });
    });



</script>
