<!--Every page returning a View will adher to this layout, injecting the View into RenderBody -->

<!DOCTYPE html>
<html lang="en-gb">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDE Themes</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet" type="text/css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="~/css/Style.css" rel="stylesheet" type="text/css" />

</head>

<body>

    <div class="container-fluid">

        <div class="mainc">

            <div class="row header">
                <div class="col-sm-3 navbar"></div>

                <div class="col-xl-6 text-right navitems">
                    <a class="navitem" asp-controller="Home" asp-action="Index">HOME</a><div class="vertical-line"></div><a class="navitem" asp-controller="Installation" asp-action="Index">INSTALLATION</a><div class="vertical-line"></div><a class="navitem" asp-controller="Stats" asp-action="Index">STATS</a><div class="vertical-line"></div><a class="lastnavitem" asp-controller="About" asp-action="Index">ABOUT</a>
                    <hr class="navhr" />
                </div>

                <div class="col-sm-3"></div>
            </div>


            <div class="row content">
                <div class="col-sm-3"></div>

                <div class="col-xl-6">

                    @RenderBody()

                </div>

                <div class="col-sm-3"></div>
            </div>

        </div>

        <div class="row footer">

            <div class="col-md-6">
                <p class="contact"><span>Contact: </span><br />For any inquiries, simply drop me an<br /> email at matejrefka@googlemail.com :P</p>
            </div>
            <div class="col-md-6">
                <p class="social"><span>Social media:</span><br /> I like keeping my social life <a href="https://en.wikipedia.org/wiki/Privacy_concerns_with_social_networking_services" target="_blank" rel="noopener noreferrer">private</a> :v</p>
            </div>

        </div>

        <div class="row cp">

            <div class="col-md-12" cp>
                <p class="copyright">Copyright © 2020 Matej Refka. All rights reserved.</p>
            </div>

        </div>
    </div>
    <script>
        var loc = window.location.pathname;

        $(".navitems").find("a").each(function () {
            $(this).toggleClass("active", $(this).attr("href") == loc);
        });
    </script>








</body>

</html>
