<h2>ABOUT.</h2>

<div class="aboutContent">

    <div class="aboutContainer">

        <div class="aboutParagraph">
            <p class="firstParagraph">
                A color theme converter for different IDEs. Currently only converts themes between Eclipse and Visual Studio IDEs. Supports input types .xml and .epf for Eclipse, and .vssettings for Visual Studio.
            </p>
            <p class="videoLabel">
                Working Demo <span class="arrowRight">-------------></span><span class="arrowDown">:</span></p>
        </div>

        <div class="aboutVideo">
            <span><iframe class="iframeVideo" width="560" height="315" src="https://www.youtube.com/embed/AXMnPwcsGhs" frameborder="0" allowfullscreen></iframe></span>
        </div>

    </div>

    <div class="aboutHeader">
        <p>FAQ:</p>
    </div>
    <p><span class="numbers">1</span>. Will there be support for "x" IDE?</p>
    <p class="aboutAnswer">Depends on the demand... just drop me an email :D</p>
    <p><span class="numbers">2</span>. Why does "item x color" not match "item y color"?</p>
    <p class="aboutAnswer">The item mapping between different IDE themes is pretty much many-to-many.
        For instance, the items: constant name, field name, local variable name, parameter name, all just map to identifier in VS. 
        If you find any issues however, just drop me an email and I'll fix it :D</p>
    <p><span class="numbers">3</span>. What data is collected?</p>
    <p class="aboutBottomText">Theme colors and the DateTimeOffset of the conversion. All the data stored is therefore anonymous, non-personal and does not fall under the DPA.</p>


























</div>
